{% extends "header.html" %}

{% block keepass_specific %}
<form action="/algopass_result.html" method="POST">


<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-success">
        <div class="panel-heading">Enter requested values</div>
        <div class="panel-body">
                  <div class="form-group">
                  <label for="klusz">Key:</label>
                  <input type="password" class="form-control" id="klusz" name="klusz" required>
                  </div>
                  <div class="form-group">
                  <label for="variable_1">Variable 1:</label>
                  <input type="password" class="form-control" id="variable_1" name="variable_1" required>
                  </div>
		  <div class="form-group">
                  <label for="variable_2">Variable 2:</label>
                  <input type="password" class="form-control" id="variable_2" name="variable_2" required>
                  </div>

 	<button type="submit" class="btn btn-default">Submit</button>

        </div>
    </div>
  </div>
 </div>
</div><br>



</body>
</html>
{% endblock %}
